/* Stylesheet: MGEN.CSS v2.1.7-3g
 * Author: J.G. McCracken
 * Email: j.g.mccracken@sbcglobal.net
 */

/* <![CDATA[ */
html {width:auto; height:auto; font-family:Arial, sans-serif; box-sizing:border-box;}
body{margin:10px; padding:10px;}

h2,h3 {text-align:center;}

h2 {font-size:5vw;}
h3 {font-size:4vw;}

::selection {color:black;background:yellow;}
::-moz-selection {color:black;background:yellow;}

#FORM,#MSGS,#HELP_0,#HELP_1 {margin:0px; padding:0px; width:auto;}
#txtmsg {font-size:10pt;}
input {width:97%;}

label {font-size:10pt; font-weight:bold;}

.inputB {margin-bottom:5px;}
div#HELP_0 div p, div#HELP_1 div p, ol, blockquote {font-size:small; line-height:1.65;}
div#HELP_0 div h3, div#HELP_1 div h3 {text-align:center;}
#header, #nextdate, #createbtn {font-variant: small-caps}
div#VERSION{font-size: 7pt;}
blockquote {font-weight:bold; font-style: oblique; line-height:1.15;}

.grid-container {display: grid; grid-gap: 15px; background-color: rgb(255, 255, 255);}
.grid-item {background-color: rgba(255, 255, 255, 0.8); text-align: left; padding: 3px;}
.pilgrim_name {grid-column: 1; grid-row: 1;}
.contact_name {grid-column: 1; grid-row: 2;}
.retreat_email_address {grid-column: 1; grid-row: 3;}
.candlelight {grid-column: 1; grid-row: 4;}
.prayer_partner_info {grid-column: 1; grid-row: 5;}

div#VERSION{font-size: 7pt;}

/* Pure CSS 4 Solution - Non standard but supported */
.selectable {
  -webkit-touch-callout: all; /* iOS Safari */
  -webkit-user-select: all;   /* Safari */
  -khtml-user-select: all;    /* Konqueror */
  -moz-user-select: all;      /* Firefox */
  -ms-user-select: all;       /* Internet Explorer */
  user-select: all;           /* Chrome and Opera */
}

@media all and (orientation:landscape)
{
  body{margin:50px; padding:50px;}

  /* Selectors here implimented when width is greater than height. */
  #maintable {margin:auto; padding:auto;}
  h2 {font-size:4vw;}
  h3 {font-size:3vw;}
}
/* ]]> */
